<!DOCTYPE html>
<html lang="en">

<head>
    
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="HandheldFriendly" content="True" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta name="generator" content="Hugo 0.87.0" />





<title>Search - Jonathan Saenz Blog</title>


<meta name="author" content="Jonathan Saenz" />


<meta name="description" content="Jonathan Saenz Blog" />


<meta property="og:title" content="Search" />
<meta property="og:description" content="Jonathan Saenz Blog" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://blog.jonathanfsaenz.com/search/" /><meta property="og:image" content="https://blog.jonathanfsaenz.com/img/og.png"/>


<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:image" content="https://blog.jonathanfsaenz.com/img/og.png"/>

<meta name="twitter:title" content="Search"/>
<meta name="twitter:description" content="Jonathan Saenz Blog"/>



<style>
    @media (prefers-color-scheme: dark) {
        body[data-theme='auto'] img {
            filter: brightness(60%);
        }
    }

    body[data-theme='dark'] img {
        filter: brightness(60%);
    }
</style>



<link rel="stylesheet" href="https://blog.jonathanfsaenz.com/assets/css/fuji.min.css" />





</head>

<body data-theme="auto">
    <script data-cfasync="false">
  
  var fujiThemeData = localStorage.getItem('fuji_data-theme');
  
  if (!fujiThemeData) {
    localStorage.setItem('fuji_data-theme', 'auto');
  } else {
    
    if (fujiThemeData !== 'auto') {
      document.body.setAttribute('data-theme', fujiThemeData === 'dark' ? 'dark' : 'light');
    }
  }
</script>

    <header>
    <div class="container-lg clearfix">
        <div class="col-12 header">
            <a class="title-main" href="https://blog.jonathanfsaenz.com/">Jonathan Saenz Blog</a>
            
            <span class="title-sub">Blog about technology, my personal growth, and interests</span>
            
        </div>
    </div>
</header>

    <main>
        <div class="container-lg clearfix">
            
            <div class="col-12 col-md-9 float-left content">
                

<div class="page-info">
    <form class="search-form" method="GET">
        <div class="search-input">
            <input name="s" type="search" autocapitalize="off" autocomplete="off" autocorrect="off"
                   spellcheck="false" />
            <button type="submit"><i class="iconfont icon-search-circle-sharp"></i></button>
        </div>
    </form>
</div>

<div class="search-result-info" style="display: none;"><span>[NUM] results ([TIME] ms)</span></div>
<div class="search-result-info" style="display: none;"><span>Results not found</span></div>
<div class="search-result-info" style="display: none;"><span>Failed to load index file</span></div>
<div id="search-result"></div>
<script id="search-result-template" type="text/fuse-template">
    <% for(var i = 0; i < $data.length; i++){ %>
    <div class="post">
        <h3 class="post-item post-title-archive">
            <a href="<%= $data[i].item.permalink %>"><%= $data[i].item.title %></a>
        </h3>
        <div class="post-item post-meta-archive">
            <span><i class="iconfont icon-today-sharp"></i>&nbsp;<%= $data[i].item.date %></span>
            <span>
                <i class="iconfont icon-pricetags-sharp"></i>&nbsp;<% if ($data[i].item.tags && $data[i].item.tags.length > 0) { %><% for(var j = 0; j < $data[i].item.tags.length; j++){ %><%= $data[i].item.tags[j] %>&nbsp;<% } %><% } else { %>No tag<% } %>
            </span>
        </div>
    </div>
    <% } %>
</script>

            </div>
            <aside class="col-12 col-md-3 float-left sidebar">
    
    <div class="sidebar-item sidebar-pages">
        <h3>Pages</h3>
        <ul>
            
            <li>
                <a href="/">Home</a>
            </li>
            
        </ul>
    </div>
    
    <div class="sidebar-item sidebar-links">
        <h3>Links</h3>
        <ul>
            
            <li>
                <a href="https://www.linkedin.com/in/jsaenz1/" target="_blank"><span>LinkedIn</span></a>
            </li>
            
            <li>
                <a href="https://github.com/saenzjonathan11/" target="_blank"><span>GitHub</span></a>
            </li>
            
            <li>
                <a href="https://jonathanfsaenz.com/" target="_blank"><span>Personal Site</span></a>
            </li>
            
        </ul>
    </div>
    
    <div class="sidebar-item sidebar-tags">
        <h3>Tags</h3>
        <div>
            
            <span>
                <a href="/tags/certifications/">Certifications</a>
            </span>
            
            <span>
                <a href="/tags/linux/">Linux</a>
            </span>
            
            <span>
                <a href="/tags/writeups/">Writeups</a>
            </span>
            
        </div>
    </div>
    
    
    
</aside>
        </div>
        <div class="btn">
    <div class="btn-menu" id="btn-menu">
        <i class="iconfont icon-grid-sharp"></i>
    </div>
    <div class="btn-toggle-mode">
        <i class="iconfont icon-contrast-sharp"></i>
    </div>
    <div class="btn-scroll-top">
        <i class="iconfont icon-chevron-up-circle-sharp"></i>
    </div>
</div>
<aside class="sidebar-mobile" style="display: none;">
  <div class="sidebar-wrapper">
    
    <div class="sidebar-item sidebar-pages">
        <h3>Pages</h3>
        <ul>
            
            <li>
                <a href="/">Home</a>
            </li>
            
        </ul>
    </div>
    
    <div class="sidebar-item sidebar-links">
        <h3>Links</h3>
        <ul>
            
            <li>
                <a href="https://www.linkedin.com/in/jsaenz1/" target="_blank"><span>LinkedIn</span></a>
            </li>
            
            <li>
                <a href="https://github.com/saenzjonathan11/" target="_blank"><span>GitHub</span></a>
            </li>
            
            <li>
                <a href="https://jonathanfsaenz.com/" target="_blank"><span>Personal Site</span></a>
            </li>
            
        </ul>
    </div>
    
    <div class="sidebar-item sidebar-tags">
        <h3>Tags</h3>
        <div>
            
            <span>
                <a href="/tags/certifications/">Certifications</a>
            </span>
            
            <span>
                <a href="/tags/linux/">Linux</a>
            </span>
            
            <span>
                <a href="/tags/writeups/">Writeups</a>
            </span>
            
        </div>
    </div>
    
    
  </div>
</aside>
    </main>

    <footer>
    <div class="container-lg clearfix">
        <div class="col-12 footer">
            
            <span>&copy; 2021
                <a href="https://blog.jonathanfsaenz.com/">Jonathan Saenz</a>
                
                | Powered by <a href="https://github.com/amzrk2/hugo-theme-fuji/"
                   target="_blank">Fuji-v2</a> &amp; <a href="https://gohugo.io/"
                                                    target="_blank">Hugo</a> 
            </span>
        </div>
    </div>
</footer>

    
<script defer src="https://cdn.jsdelivr.net/combine/npm/art-template@4.13.2/lib/template-web.min.js,npm/fuse.js@6.4.1"></script>



<script defer src="/assets/js/fuji.min.js"></script>


</body>

</html>